(semi)official/Augusta_Sprite(Swordless).png filter=lfs diff=lfs merge=lfs -text
(semi)official/Augusta_Card.webp filter=lfs diff=lfs merge=lfs -text
(semi)official/Augusta_Full_Sprite.webp filter=lfs diff=lfs merge=lfs -text
(semi)official/Augusta_Showcase_4.webp filter=lfs diff=lfs merge=lfs -text
(semi)official/Augusta_Splash_Art.webp filter=lfs diff=lfs merge=lfs -text
(semi)official/mcF57m-1754993728544.webp filter=lfs diff=lfs merge=lfs -text
(semi)official/nP387r-1754993305550.webp filter=lfs diff=lfs merge=lfs -text
(semi)official/augusta-tacet-mark-texture.webp filter=lfs diff=lfs merge=lfs -text
(semi)official/pose0.jpg filter=lfs diff=lfs merge=lfs -text
(semi)official/pose1.jpg filter=lfs diff=lfs merge=lfs -text
(semi)official/Sword.jpg filter=lfs diff=lfs merge=lfs -text
InGame/videoframe_0.png filter=lfs diff=lfs merge=lfs -text
InGame/photograph.png filter=lfs diff=lfs merge=lfs -text
